.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.game-start {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-item {
  background: tomato;
  margin: 5px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}
.game-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-icon {
  font-size: 2em;
  font-weight: bold;
}
.game-icon-x:before {
  content: 'X';
  color: red;
}
.game-icon-o:before {
  content: 'O';
  color: cornflowerblue;
}
