.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.game-start {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-box-item {
  position: relative;
  background: tomato;
  margin: 5px;
  color: white;
  font-weight: 900;
  font-size: 3em;
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}
.game-box-stick {
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: white;
  z-index: 10;
}
.game-box-stick-vertical {
  transform: rotate(90deg);
}
.game-box-stick-horizontal {
}
.game-box-stick-diagonal-lr {
  width: 150%;
  top: 50%;
  transform: rotate(43deg);
}
.game-box-stick-diagonal-rl {
  width: 150%;
  top: 50%;
  transform: rotate(-43deg);
}
.game-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-icon {
  font-size: 2em;
  font-weight: bold;
}
.game-icon-x:before {
  content: 'X';
  color: red;
}
.game-icon-o:before {
  content: 'O';
  color: cornflowerblue;
}
.game-box-active {
  cursor: pointer;
}
.alert-blink {
  animation: blinkingText 1s infinite;
}
@keyframes blinkingText{
  0%   { color: #000; }
  49%  { color: #000; }
  60%  { color: transparent; }
  99%  { color:transparent; }
  100% { color: #000; }
}
